
:root {

 
  --ui-color-brand: #353535;

  /* COLOR PALETTE */

  --ui-color-n-000: rgb(255, 255, 255);
  --ui-color-n-100: #ebebeb;
  --ui-color-n-300: #aeaeae;
  --ui-color-n-500: #353535;
  --ui-color-n-700: #282828;
  --ui-color-n-900: #1a1a1a;

  /* BACKGROUND COLOR */
  
  --ui-color-background-primary: var(--ui-color-n-000);
  
  /* FORM COLOR */

  --ui-color-form-input: var(--ui-color-n-100);

  /* TYPOGRAPHY COLOR */

  --ui-color-typography-heading: var(--ui-color-n-500);
  --ui-color-typography-body   : var(--ui-color-n-900);
  --ui-color-typography-note   : var(--ui-color-n-300);
  --ui-color-typography-button : var(--ui-color-n-000);

  /*------------------------------------------------------------
  |
  | 1.2 TYPOGRAPHY
  |
  ------------------------------------------------------------*/

  --ui-typography-typeface: "Inter", sans-serif;

  /* FONT SIZE */

  --ui-typography-h1: 1.9375rem;
  
  --ui-typography-p : 1rem;
  --ui-typography-s : .8125rem;

  /* LEADING */

  --ui-typography-h1-leading: 1.2;
 
  --ui-typography-p-leading : 1.5;

  /* MARGIN */

  --ui-typography-margin-heading: .75rem;
  --ui-typography-margin-body   : 1.125rem;

  

  --ui-layout-container: 1.25rem;
  --ui-layout-grid     : 3.625rem;
  --ui-layout-gutter   : 1rem;



  --ui-gap-cta    : .75rem;
  --ui-gap-content: 2rem;

  /* BORDER RADIUS */
  
  --ui-radius-button: 5rem;
  --ui-radius-input : 5rem;

}


html { box-sizing: border-box; }

*,
*:before,
*:after { box-sizing: inherit; }

body {
  background-color: var(--ui-color-background-primary);
  color: var(--ui-color-typography-body);
  font-family: var(--ui-typography-typeface);
  font-feature-settings: "liga", "kern";
  font-size: var(--ui-typography-p);
  font-weight: 400;
  line-height: var(--ui-typography-p-leading);
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}



a{
    position: relative;
    padding: 8px 62px;
    display: block;
    text-decoration: none;
    width: 180px;
    margin-left: 110px;
    overflow: hidden;
      border-radius: 14px;
      margin-top:250px;
}

a span{
position: relative;
z-index: 1;
color: #ffffff;
font-size: 19px;
letter-spacing: 0px;
left: 20;

    
  
}
a .liquid{
    position: absolute;
    left: 0;
    top: -80px;
    width: 250px;
    height: 200px;
    background: rgb(2, 41, 2);
        
  
    
  
  
}
.register a{
  position: relative;
  top: -359px;
}
a  p .liquid{
    position: absolute;
    left: 0;
    top: -80px;
    width: 250px;
    height: 200px;
    background: rgb(2, 41, 2);
        
  
    
  
  
}

a:hover span{
  
    color: #474b4c;
    
  

}

.back {
  color: green;
 margin-left: 30px;
 position: relative;
 top: 22px;
}



   @media screen and (min-width:320px){
  a{
    margin-left: 70px;
    margin-top: 220px;
  }
  .register a{
    position: relative;
    top: -202px;
  }
 
  .back{
    margin-left: 20px;
  }
}
  @media screen and (min-width:360px){
  a{
    margin-left: 90px;
    margin-top: 220px;
  }
  
}
  @media screen and (min-width:375px){
  a{
    margin-left: 100px;
    margin-top: 360px;
    position: relative;
    top: -102px;
  }
  .register a{
    position: relative;
    top: -444px;
  }
  
}
  @media screen and (min-width:384px){
  a{
    margin-left: 103px;
    margin-top: 370px;
  }
}
  @media screen and (min-width:411px){
  a{
    margin-left: 115px;
    margin-top: 370px;
  }
 
}

     @media screen and (min-width:568px){
  a{
    margin-left:189px;
    margin-top: 30px;
  }
  
  
}
     @media screen and (min-width:540px){
  a{
    margin-left:189px;
    margin-top: 290px;
  }
  
  
}

   @media screen and (min-width:640px){
  a{
    margin-left:229px;
    margin-top: 10px;
  }
  
 
}
   @media screen and (min-width:667px){
  a{
    margin-left:239px;
    margin-top: 10px;
  }
  
  
}
 @media screen and (min-width:731px){
  a{
    margin-left:284px;
    margin-top: 10px;
  }
  
  
}
   
       @media screen and (min-width:750px){
  a{
    margin-left:289px;
    margin-top: 190px;
  }
  .register a{
    position: relative;
    top: -270px;
  }
  
 
}
    @media screen and (min-width:760px){
  a{
    margin-left: 310px;
  }
    .register a{
    position: relative;
    top: -140px;
  }
}
   @media screen and (min-width:768px){
  a{
    margin-left: 290px;
    
margin-top: 370px;
  }
  h1{
    padding-top: 100px;
  }
  .register a{
    position: relative;
    top: -450px;
  }
  
  

}

    @media screen and (min-width:780px){
  a{
    margin-left: 300px;
    margin-top: 160px;
 
  }
  .ui-layout-column-6 h1{
    margin-top: -100px;
  }
 .register a{
    position: relative;
    top: -244px;
  }
}
 @media screen and (min-width:800px){
  a{
    margin-left:318px;
    position: relative;
    top: 160px;
    
  }
  
.register a{
  position: relative;
  top: 33px;
}
}
 @media screen and (min-width:812px){
  a{
    margin-left:318px;
    margin-top: 10px;
  }
  

}

 @media screen and (min-width:823px){
  a{
    margin-left:318px;
    margin-top: 10px;
  }
  
 
}
    @media screen and (min-width:1024px){
  a{
    margin-left: 410px;
    margin-top: 300px;
    position: relative;
    top: -62px;
 
  }
  .ui-layout-column-6 h1{
    margin-top: -100px;
  }
 .register a{
    position: relative;
    top: -330px;
  }
  
}
 @media screen and (min-width:1200px){
  a{
    margin-left: 500px;
    font-size: 22px;
    margin-top:110px;
    position: relative;
    top: 30px;
  }
  h1{
    padding-top: 170px;
  }
  .register a{
    position: relative;
    top: -60px;
  }
  
 
  .ui-section-content{
    margin-top: -120px;
  }
}
  @media screen and (min-width:1280px){
  a{
    margin-left: 550px;
    font-size: 22px;
    margin-top:330px;
    position: relative;
    top: -80px;
  }
  h1{
    padding-top: 170px;
  }
  .register a{
    position: relative;
    top: -388px;
  }
  
 
}
  

 


h1,

p { margin-top: 0; }

h1
 {
  color: var(--ui-color-typography-heading);
  margin-bottom: var(--ui-typography-margin-heading);
}

h1 {
  font-size: var(--ui-typography-h1);
  line-height: var(--ui-typography-h1-leading);
}


p { margin-bottom: var(--ui-typography-margin-body); }

p:last-child { margin-bottom: 0; }

strong { font-weight: 700; }

small { font-size: var(--ui-typography-s); }

.ui-text-note {
  color: var(--ui-color-typography-note);
  line-height: 1;
}

/*--------------------------------------------------------------
4.0 IMAGE
--------------------------------------------------------------*/


/*--------------------------------------------------------------
5.0 LAYOUT
--------------------------------------------------------------*/

.ui-layout-container {
  padding-left: var(--ui-layout-container);
  padding-right: var(--ui-layout-container);
}

.ui-layout-flex,
.ui-layout-grid {
  align-items: center;
  justify-content: center;
}

.ui-layout-flex { display: flex; }

.ui-layout-grid { display: grid; }


.ui-component-cta {
  flex-direction: column;
  row-gap: var(--ui-gap-cta);
}



/* FORM */


.ui-component-form {
  background-color: var(--ui-color-form-input);
  border-radius: var(--ui-radius-input);
  grid-template-columns: minmax(0, 1fr) auto;
  padding: .25rem;
}







.ui-section-header__layout { justify-content: space-between; }

.ui-section-content {
  padding-bottom: 2em;
  padding-top: 5rem;
  text-align: center;
}

.ui-section-content--image {
  margin-bottom: var(--ui-gap-content);
  margin-top: var(--ui-gap-content);
}

.ui-section-content--feature { row-gap: var(--ui-gap-content); }

.ui-section-content--icon { margin-bottom: 1rem; }


.ui-section-close {
  padding-bottom: 5rem;
  padding-top: 5rem;
  text-align: center;
}




/*--------------------------------------------------------------
8.0 MEDIA
--------------------------------------------------------------*/

/*--------------------------------------------------------------
|
| 8.1 768PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 48rem) {


  :root {


    /* FONT SIZE */

    --ui-typography-h1: 2.1875rem;
    --ui-typography-h2: 1.75rem;
    --ui-typography-h3: 1.4375rem;
    --ui-typography-p : 1.125rem;
    --ui-typography-s : .875rem;

    /* MARGIN */

    --ui-typography-margin-body: 1.25rem;

    /*----------------------------------------------------------
    |
    | LAYOUT
    |
    ----------------------------------------------------------*/

    --ui-layout-container: 4.25rem;
    --ui-layout-gutter   : 1.5rem;

    /* GAP */

    --ui-gap-content: 3rem;

  }

  /*------------------------------------------------------------
  LAYOUT
  ------------------------------------------------------------*/

  .ui-layout-container,
  .ui-layout-column-center {
    margin-left: auto;
    margin-right: auto;
  }

  .ui-layout-grid-3 {
    column-gap: var(--ui-layout-gutter);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .ui-layout-grid-3 div:last-of-type {
    left: calc(50% + (var(--ui-layout-gutter) / 2));
    position: relative;
  }

  .ui-layout-column-4 {
    width: calc((var(--ui-layout-grid) * 4) +
           (var(--ui-layout-gutter) * 3));
  }

  .ui-layout-column-6 {
    width: calc((var(--ui-layout-grid) * 6) +
           (var(--ui-layout-gutter) * 5));
  }

 
  .ui-section-header {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .ui-section-content { padding-bottom: 3rem; }

  .ui-section-content--icon {
    height: 4rem;
    width: 4rem;
  }

  /*------------------------------------------------------------
  |
  | FOOTER
  |
  ------------------------------------------------------------*/

  .ui-section-footer {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  
}

/*--------------------------------------------------------------
|
| 8.2 1024PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 64rem) {

  /*------------------------------------------------------------
  VARIABLE
  ------------------------------------------------------------*/

  :root {

    /*----------------------------------------------------------
    |
    | LAYOUT
    |
    ----------------------------------------------------------*/

    --ui-layout-container: 0;
  
  }

  /*------------------------------------------------------------
  TYPOGRAPHY
  ------------------------------------------------------------*/

  
  /*------------------------------------------------------------
  LAYOUT
  ------------------------------------------------------------*/
  
  
}

/*--------------------------------------------------------------
|
| 8.3 1200PX
|
--------------------------------------------------------------*/

@media screen and (min-width: 75rem) {


  :root {

    /* FONT SIZE */

    --ui-typography-h1: 2.75rem;
    --ui-typography-h2: 2.1875rem;
    --ui-typography-h3: 1.75rem;
    --ui-typography-h4: 1.4375rem;

    /* MARGIN */

    --ui-typography-margin-heading: 1rem;
    --ui-typography-margin-body   : 1.75rem;

    /*----------------------------------------------------------
    |
    | LAYOUT
    |
    ----------------------------------------------------------*/

    --ui-layout-grid  : 4rem;
    --ui-layout-gutter: 2rem;

    /* GAP */
    
    --ui-gap-content: 4rem;
    
  }


  .ui-text-intro { font-size: var(--ui-typography-h4); }

  /*------------------------------------------------------------
  LAYOUT
  ------------------------------------------------------------*/
  
  .ui-layout-container { width: 70rem; }

  /*------------------------------------------------------------
  SECTION
  ------------------------------------------------------------*/

  /*------------------------------------------------------------
  |
  | HEADER
  |
  ------------------------------------------------------------*/

  .ui-section-header {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  /*------------------------------------------------------------
  |
  | CONTENT
  |
  ------------------------------------------------------------*/

  .ui-section-content {
    padding-bottom: 5rem;
    padding-top: 7.5rem;
  }

  .ui-section-content--icon {
    height: 5rem;
    margin-bottom: 1.125rem;
    width: 5rem;
  }

  /*------------------------------------------------------------
  |
  | CLOSE
  |
  ------------------------------------------------------------*/

  .ui-section-close {
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
  }
  
  /*------------------------------------------------------------
  |
  | FOOTER
  |
  ------------------------------------------------------------*/

  .ui-section-footer {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

}