{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  {% if form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {% for error in form.non_field_errors %}
        <p {% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
      {% endfor %}
    </div>
  {% endif %}
  {% block card %}
  <div class="card">
    {% block card_title %}
    <div class="header bg-light p-2 m-0">
      <h4 style="margin: 0">Log In</h4>
    </div>
    {% endblock card_title %}
    <div class="container">
			<div class="row align-items-center">
				<div class="col-12">
					<div class="mt-2 p-2 centered">
						<form method="post">
							{% csrf_token %}
							<input type="hidden" name="next" value="{{ next }}">
							{{ form|crispy }}
							<button type="submit" class="btn btn-primary">Log in</button><br/>
							<span class="mt-2 pb-2 float-right">Don't have an account? <a href="{% url 'signup' %}" role="button">Create one</a></span>
						</form>
					</div>
				</div>
			</div> 
		</div>

    </div>
    {% endblock card %}
      
{% endblock content %}
