{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  {% if form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {% for error in form.non_field_errors %}
        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
      {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
  <div class="row align-items-center">
    <div class="col-12">
      <h2 class="text-center my-4">Log into your account</h2>
      <div class="mx-3 centered">
        <form class="pt-4" method="post" novalidate>
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          {{ form.username|as_crispy_field }}
          {{ form.password|as_crispy_field }}
          <button type="submit" class="btn btn-success">Log in</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
