{% extends 'base.html' %}

{% block content %}
  <h2 class="py-5 ui-layout-column-6 ui-layout-column-center" style="text-align: center">Welcome to the OUI Attendance Portal! 
    {% if user.is_authenticated %}
      {% if user.is_teacher %}
        <span class="icon-feather" data-toggle="tooltip" data-placement="right" title="Teacher profile"></span>
      {% else %}
        <span class="icon-graduation-cap" data-toggle="tooltip" data-placement="right" title="Student profile"></span>
      {% endif %}
    {% endif %}
  </h2>
  <p class="lead" style="text-align: center">
    All your attendance in one place

    <div class="col-12 py-5" style="text-align: center">
      {% if user.is_authenticated %}
        <p class="pt-3">Logged in as <strong>{{ user.username }}</strong>. <a href="{% url 'logout' %}">Log out</a>.</p>
      {% else %}
        <a href="{% url 'login' %}" class="btn btn-lg btn-success" role="button">Log in</a>
        <a href="{% url 'signup' %}" class="btn btn-lg btn-primary" role="button">Sign up</a>
      {% endif %}
    </div>
  </p>
{% endblock %}
