<h2>Classes</h2>
<span class="px-2 text-muted">
  Level:{% for subject in user.student.level.all %} {{ subject.get_html_badge }}{% endfor %}
  {% for department in user.student.department.all %} {{ department.get_html_badge }} {% endfor %}
  <a href="{% url 'students:student_level' %}"><small>(update level)</small></a>
</span>

<ul class="nav nav-tabs pt-5">
  <li class="nav-item">
    <a
      class="nav-link{% if active == 'new' %} active{% endif %}"
      href="{% url 'students:class_list' %}"
      >New</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link{% if active == 'taken' %} active{% endif %}"
      href="{% url 'students:taken_quiz_list' %}"
      >Taken</a
    >
  </li>
</ul>
